@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Ubuntu:wght@300;400&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --heading-color:#94a3b8;
}

.socials-img{
    width: 1rem;
    height: 1rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.socials{
    display: flex;
}

.info-heading{
    color: var(--heading-color);
    font-size: 0.8rem;
}

.info-details{
    margin-top: 1rem;
}

.address-container{
    margin-top: 3rem;
}